=bg($img, $for: png)
	background-image: url('../img/#{$img}.#{$for}')


//transition: {$obb} 1s, -webkit-transform 1s


/*Разметка для колонок*/
.color_bag
	position: fixed
	z-index: 98
	width: 100%
	.container
		width: 100% !important
		max-width: 1200px
		.row
			padding: 0
			margin: 0
	.col.s1
		height: 10px
/*Разметка для колонок*/

.img-classic
	width: auto

.owl-nav
	position: absolute
	bottom: 0
	width: 100%
	top: 0
	display: -webkit-flex
	display: -ms-flex
	display: flex
	justify-content: space-between
	&>div
		display: -webkit-flex
		display: -ms-flex
		display: flex
		align-items: center
		transition: background 1s, -webkit-transform 1s
		&:hover
			background: rgba(4, 4, 4, 0.58)

//Примеси
%rel
	position: relative
%margin-min
	margin: 1.8rem auto .5rem
%padding-min
	padding: 1.3rem .5rem

.margin-min
	@extend %margin-min
.padding-min
	@extend %padding-min
//Примеси
.line-in
	a
		border-bottom: 1px solid #666
%f-row
	display: -webkit-flex
	display: -ms-flex
	display: flex
	flex-direction: row
	justify-content: center
	flex-wrap: wrap
%f-col
	flex-direction: column

$width: 1200px
$column: $width/12

//.container
	width: 8*$column

input
	&::-webkit-input-placeholder
	&::-moz-placeholder
	&:-ms-input-placeholder

@mixin anim_opacity
	-webkit-transition: opacity 1s ease-in
  -moz-transition: opacity 1s ease-in
  transition: opacity 1s ease-in

.ele:hover
	cursor: default
	opacity: .8
	@include anim_opacity
.btn
	@extend .red
	@extend .waves-effect
	&:hover
		opacity: .8
		@include anim_opacity
.center_text
	text-align: center

.fix
	&::before
		@include triangle("up", 2rem, 1rem, #b25c9c)
		content: ""
