.content
  .row
    padding-top: 1rem
  .event
    .h3
      margin-bottom: 2rem
    &__img
      border: 1px solid #666
      padding: 5px
      img
        margin: 0
    &_box
    &__text
      font:
        size: .9rem
        weight: 300
      ul
        li
          font:
            family: $AC
            size: .8rem
          i
    &__calendar
      .ele
        margin: 0px auto
        .row
          margin: 0
      &__data
        background: #b71c1c
        text-align: center
        color: #fff
        padding: 5px
        box-sizing: border-box
        span
          width: 80%
          display: block
          margin: 1px auto
          border: 1px solid #fff
      &__upcoming
        font:
          size: .75rem
        i
          font:
            size: .75rem
          color: #b71c1c
  &__lenta
    .h3
      @extend .margin-min
    .ele
      @extend %padding-min
      &:first-child
        @extend .blue.darken-3
        @extend .white-text
      &:nth-child(2n)
        @extend .green.darken-4
        @extend .white-text
      &:last-child
        @extend .teal
        @extend .white-text
    &__img
      padding: 10px !important
      border: 1px solid #666
      img
        width: 100%
        margin: 0px
    &__info-block
      .h2
        @extend .red-text.text-darken-4
        font:
          family: $CI
      .data
        font:
          size: .6rem
        i
          @extend %rel
          top: .3rem
          margin-right: .5rem
      .text
        font:
          size: .9rem
          family: $PR
